* {
    box-sizing: border-box;
    text-align: center;
}

header {
    background: #ebebeb;
    text-align: center;
    color: grey;
    padding: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 320px;
    width: 100%;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-color: #777777;
    width: 960px;
    font-size: 18px;
}

nav {
    background: #ebebeb;
    color: grey;
    padding: 40px;
    margin-bottom: 10px;
    margin-left: 320px;
    margin-right: 160px;
    width: 100%;

}

section {
    float: left;
    background-color: #ebebeb;
    margin-left: 320px;
    width: 515px;
    height: 298px;
    display: block;
    margin-right: 10px;
    padding: 40px;
    margin-top: 15px;
}

aside {
    position: absolute;
    right: 312px;
    float: left;
    background-color: #ebebeb;
    display: block;
    width: 420px;
    height: 298px;
    margin-left: 10px;
    padding: 40px;
    margin-top: 15px;

}

article {
    clear: right;
    position: relative;
    width: 100%;
    height: 190px;
    background-color: #777777;
    color: #ebebeb;
    text-align: center;
    padding: 20px;
    margin-top: 20px;


}

h1 {
    position: relative;
    bottom: 150px;
    background-color: #ebebeb;
    color: #777777;
    width: 100%;
    padding: 20px;
    line-height: 15px;
    width: 92%;
    margin: 10px 220px 0px 20px;
    font-size: 20px;

}

p {
    position: relative;
    bottom: 148px;
    background-color: #ebebeb;
    color: #777777;
    width: 92%;
    margin: 10px 220px 0px 20px;
    line-height: 15px;
    padding: 20px;
}

footer {
    background: #ebebeb;
    color: grey;
    padding: 40px;
    margin-top: 350px;
    margin-bottom: 20px;
    margin-left: 320px;
    margin-right: 160px;
    width: 100%;
    text-align: center;
}